In [11]:
print("notebook STARTED")

notebook STARTED

In [12]:
import itc_utils.flight_service as itcfs

readClient = itcfs.get_flight_client()

# NOTE:
#  A limit of 5000 rows has been applied to the request to enable sample previewing.
#  Adjust the display message as needed by editing the following lines:
from IPython.display import display, HTML
display(HTML("A row limit of 5000 has been applied to the query to enable sample previewing. If the data set is larger, only the first 5000 rows will be loaded."))
#  Edit select_statement to change or disable the row limit.
#
Db2onCloud_data_request = {
    'connection_name': """Db2onCloud""",
    'interaction_properties': {
        'select_statement': 'SELECT * FROM "CBZ82398"."BANKLOAN_TRAINING_DATA" FETCH FIRST 5000 ROWS ONLY'
    }
}

flightInfo = itcfs.get_flight_info(readClient, nb_data_request=Db2onCloud_data_request)

data_df_1 = itcfs.read_pandas_and_concat(readClient, flightInfo, timeout=240)
data_df_1.head(10)

   ID  AGE  ED  EMPLOY  ADDRESS  INCOME DEBTINC   CREDDEBT    OTHDEBT  DEFAULT
0   1   41   3      17       12     176    9.30  11.359392   5.008608        1
1   2   27   1      10        6      31   17.30   1.362202   4.000798        0
2   3   40   1      15       14      55    5.50   0.856075   2.168925        0
3   4   41   1      15       14     120    2.90   2.658720   0.821280        0
4   5   24   2       2        0      28   17.30   1.787436   3.056564        1
5   6   41   2       5        5      25   10.20   0.392700   2.157300        0
6   7   39   1      20        9      67   30.60   3.833874  16.668126        0
7   8   43   1      12       11      38    3.60   0.128592   1.239408        0
8   9   24   1       3        4      19   24.40   1.358348   3.277652        1
9  10   36   1       0       13      25   19.70   2.777700   2.147300        0

In [13]:
#Create sample data to upload to existing table in database
df = data_df_1.head(10)

In [14]:
print("setup ibm-watson-studio-lib")
#setup ibm-watson-studio-lib
from ibm_watson_studio_lib import access_project_or_space
wslib = access_project_or_space()

setup ibm-watson-studio-lib

In [15]:
print("get user token")
#get user token
user_token = wslib.auth.get_current_token()

get user token

In [16]:
print("get project id/space id")
#get project id/space id
#if you are in project, function will obtain project id
#if you are in space, function will obtain space id
project_id = wslib.here.get_ID()
project_id

get project id/space id

'd32b4e81-53e7-448a-97f5-d72c21a90a93'

In [17]:
#Save data to your project/space storage
print("save data to project/space storage")
# let's assume you have the pandas DataFrame  pandas_df which contains the data
# you want to save as a csv file
metadata_save_data = wslib.save_data("bankloan-training-data-subset.csv", df.to_csv(index=False).encode(), overwrite=True)

save data to project/space storage

In [18]:
# the function returns a dict which contains the asset_name, asset_id, file_name and additional information upon successful saving of the data
print(metadata_save_data)

{'name': 'bankloan-training-data-subset.csv', 'asset_type': 'data_asset', 'asset_id': '3420de5c-496c-4389-a367-178277cca7b8', 'attachment_id': '6392d73d-280d-4704-abe7-596257803e53', 'filepath': 'data_asset/bankloan-training-data-subset.csv', 'data_size': 477, 'mime': 'text/csv', 'summary': ['looked up asset', 'selected attachment', 'overwritten file', 'updated attachment'], 'access_count': 1}

In [19]:
print("notebook COMPLETED")

notebook COMPLETED